<ion-header>
  <ion-toolbar class="menu-superior">
    <ion-title>Vida na Estrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viagemIniciada == undefined">
  <ion-icon name="heart-half-outline" class="ion-align-items-start"></ion-icon>
  <h2>VAMOS JUNTOS NESSA VIAGEM?</h2>
  <ion-item>
    <ion-label position="floating">LOCAL DE PARTIDA</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">LOCAL DE DESTINO</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-button expand="block" color="success" (click)="alertCalculo()" class="btnSuccess">ACOMPANHAR MINHA SAÚDE</ion-button>
</ion-content>

<ion-content *ngIf="viagemIniciada">
  <ion-card> 
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p>ORIGEM</p>    
            <p>{{ information.origem }}</p>
          </ion-col>
          <ion-col size="6">
            <p>DESTINO</p>    
            <p>{{ information.destino }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div id="timeline=content">
    <ul class="timeline">
      <li class="event">
        <p>Ribeirao Preto, SP 10 minutos atrás</p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Já se esticou hoje?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            É muito importante se alongar durante viagens longas. Que tal fazer uma parada rápida e esticar as pernas? :)
          </ion-card-content>
        </ion-card>
      </li>
      <li class="event">
        <p>Ribeirao Preto, SP 10 minutos atrás</p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Já se esticou hoje?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            É muito importante se alongar durante viagens longas. Que tal fazer uma parada rápida e esticar as pernas? :)
          </ion-card-content>
        </ion-card>
      </li>
      <li class="event">
        <p>Ribeirao Preto, SP 10 minutos atrás</p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Já se esticou hoje?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            É muito importante se alongar durante viagens longas. Que tal fazer uma parada rápida e esticar as pernas? :)
          </ion-card-content>
        </ion-card>
      </li>
    </ul>
  </div>
</ion-content>
