<ion-toolbar class="menu-superior">
  <ion-buttons slot="end">
    <ion-button class="buttonBadge">
      <ion-icon name="heart"></ion-icon>
      <p>1500</p>
    </ion-button>
  </ion-buttons>
  <ion-title>DR CHAPA</ion-title>
</ion-toolbar>

<ion-content *ngIf="viagemIniciada == undefined || viagemIniciada == false">
  <div class="container">
    <h1 style="margin-left: 16px"><b>OLÁ, JORGE<br/></b></h1>
    <p style="margin-left: 16px">POSSO TE ACOMPANHAR HOJE?</p>

    <ion-list>
    <ion-item>
      <ion-label clearInput="true" clearOnEdit="true" color="primary" inputmode="text" position="floating">LOCAL DE PARTIDA</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label clearInput="true" clearOnEdit="true" color="primary" inputmode="text" position="floating">LOCAL DE DESTINO</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

    <ion-button expand="block" color="success" (click)="alertCalculo()" class="btnSuccess">ACOMPANHAR MINHA VIAGEM</ion-button>
  </div>
</ion-content>

<ion-content *ngIf="viagemIniciada">
        <ion-row class="origemDestino">
          <ion-col size="6">
            <p>ORIGEM</p>    
            <p class="pSub">{{ information.origem }}</p>
          </ion-col>
          <ion-col size="6">
            <p>DESTINO</p>    
            <p class="pSub">{{ information.destino }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-content>
              <span class="cardInfoTop">BUSCANDO DICAS DE SAÚDE E BEM ESTAR DURANTE O TRAJETO...</span>
            </ion-card-content>
          </ion-card>
        </ion-row>

  <ion-col size="12" style="margin-top: 64px">
    <ion-button expand="full" style="min-height: 52px" (click)="alertCancelar()">CANCELAR ACOMPANHAMENTO</ion-button>
  </ion-col>

  <ion-item-divider></ion-item-divider>

  <div id="timeline=content">
    <ul class="timeline">
      <li class="event">
        <p>Ribeirao Preto, SP - 10 minutos atrás</p>
        <ion-card>
          <ion-card-header>
            <ion-img style="width: 100%; height: 100px; margin-top: -8px;" src="../../../assets/imgs/timeLine/01.jpg"></ion-img>
            <ion-card-title>JÁ SE ALONGOU HOJE?</ion-card-title>
          </ion-card-header>
          <ion-row style="margin-left: 8px">
              <p class="btnLabel" style="font-size: 14px; margin-left: 8px!important;">PLANO DE CUIDADO</p>
          </ion-row>
          <ion-card-content>
            É muito importante se alongar durante viagens longas. <b>Que tal fazer uma parada rápida e esticar as pernas?</b> :)
            <ion-button fill="outline" expand="block" slot="end" style="margin-top: 16px">ACEITAR DESAFIO</ion-button>
          </ion-card-content>
        </ion-card>
      </li>
      <li class="event">
        <p>Ribeirao Preto, SP 10 minutos atrás</p>
        <ion-card>
          <ion-card-header>
            <ion-img style="width: 100%; height: 100px;" src="../../../assets/imgs/timeLine/02.jpg"></ion-img>
            <ion-card-title>RESTAURANTE VALE DO...</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Já almoçou?
Que tal esse restaurante saudável na beira da estrada? <b>Mas lembre-se de maneirar no sal.</b>
            <br>
          <ion-button fill="outline" expand="block" style="margin-top: 16px">VER NO MAPA</ion-button>
          <ion-button fill="outline" expand="block" style="margin-top: 16px">COMPARTILHAR</ion-button>
        
        </ion-card-content>
        </ion-card>
      </li>
      <li class="event">
        <p>Ribeirao Preto, SP - 10 minutos atrás</p>
        <ion-card>
          <ion-card-content>
            <ion-icon name="cloudy-night-outline" slot="start" style="margin-bottom: 8px; width: 64px; height: 64px"></ion-icon>
            <br>Parece que você não dorme
            a mais de 12 horas.
            <br>Eu me preocupo com você amigão...</ion-card-content>
        </ion-card>
      </li>
      <li class="event">
        <p>Cidade Z, SP 2 dias atrás</p>
        <ion-card>
          <ion-card-header>
            <ion-img style="width: 100%; height: 100px; margin-top: -8px;" src="../../../assets/imgs/timeLine/03.jpg"></ion-img>
            <ion-card-title>GRUPO CCR - ESTRADA ...</ion-card-title>
          </ion-card-header>
          <ion-row style="margin-left: 8px">
            <p class="btnLabel" style="font-size: 14px; margin-left: 8px!important;">PLANO DE CUIDADO</p>
        </ion-row>
          <ion-card-content>
            Cuidando da saúde dos caminhoneiros nas estradas pelo Brasil. Que tal aproveitar para medir sua pressão?
            <ion-button fill="outline" expand="block" slot="end" style="margin-top: 16px">VER NO MAPA</ion-button>
          </ion-card-content>
        </ion-card>
      </li>
    </ul>
    
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fabButton" (click)="openModal()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
