<ion-header>
  <ion-toolbar class="menu-superior">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/viagem"></ion-back-button>
    </ion-buttons>
    <ion-title>acompanhamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card> 
    <ion-card-content>
      APERTE EM <b>COMPANHAR VIAGEM</b> E TE AJUDAREI A COM SUA SAÚDE DURANTE TODA A VIAGEM.
    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let item of information; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>

    <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section' : !item.open}">
      <ion-icon slot="start" name="add-outline" *ngIf="!item.open"></ion-icon>
      <ion-icon slot="start" name="remove-outline" *ngIf="item.open"></ion-icon>
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>

    <div *ngIf="item.children && item.open">
      <ion-list *ngFor="let child of item.children; let j = index" lines="none"></ion-list>
    </div>
  </ion-list>

  <ion-button expand="full" color="success" class="btnSuccess btnAcompanhar">ACOMPANHAR VIAGEM</ion-button>

</ion-content>
