.btnAcompanhar{
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
}
.accordion-item-viagem{
    --ion-item-background: #4889F6;
}

.accordion-item-saude{
    --ion-item-background: #01C853;
}

.accordion-item-custo{
    --ion-item-background: #FFB900;
}