<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="viagem">
            <ion-icon name="map"></ion-icon>
            <ion-label>VIAGEM</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="saude">
            <ion-icon name="medkit"></ion-icon>
            <ion-label>MEUS CUIDADOS</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cupom">
            <ion-icon name="pricetags"></ion-icon>
            <ion-label>CUPONS</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>